<p><%= link_to "Home", root_path %> > Dashboard </p><br/>

<%= javascript_include_tag "jquery.sparkline.min", :cache => true %>

<h1>Dashboard - Status Report</h1>

<table class="grid">
	<tr style="background-color: silver">
		<th></th>
		<th>Artifact</th>
		<th>Total</th>
		<th>Required</th>
		<th></th>
		<th>Guidelines</th>
	</tr>
	<tr style="background-color: #FFFFCC">
		<td><a href="#" style="text-decoration:none"><span><img src="/images/cleardot.gif" class="minus"/></span></a></td>
		<td><span style="font-weight:bold">Pediatrics</span></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Encounters</td>
		<td>28</td>
		<td>40</td>
		<td><span class="bullet">28,40</span></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFEE">
		<td></td>
		<td><span style="font-weight:bold">Chief Complaints</span></td>
		<td>28</td>
		<td>40</td>
		<td><span class="bullet">28,40</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Inpatient</td>
		<td>6</td>
		<td>6</td>
		<td><span class="completed_bullet">6,6</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Outpatient</td>
		<td>20</td>
		<td>30</td>
		<td><span class="bullet">20,30</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Newborn</td>
		<td>2</td>
		<td>4</td>
		<td><span class="bullet">2,4</span></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFEE">
		<td></td>
		<td><span style="font-weight:bold">History Taken</span></td>
		<td>27</td>
		<td>40</td>
		<td><span class="bullet">27,40</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Inpatient</td>
		<td>7</td>
		<td>6</td>
		<td><span class="completed_bullet">6,6</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Outpatient</td>
		<td>20</td>
		<td>30</td>
		<td><span class="bullet">20,30</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Newborn</td>
		<td>0</td>
		<td>4</td>
		<td><span class="bullet">0,4</span></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFEE">
		<td></td>
		<td><span style="font-weight:bold">Physical Exam</span>	</td>
		<td>28</td>
		<td>40</td>
		<td><span class="bullet">28,40</span></td>
		<td><a href="#">link1</a>, <a href="#">link2</a></td>
	</tr>
	<tr>
		<td></td>
		<td>Inpatient</td>
		<td>6</td>
		<td>6</td>
		<td><span class="completed_bullet">6,6</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Outpatient</td>
		<td>20</td>
		<td>30</td>
		<td><span class="bullet">20,30</span></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>Newborn</td>
		<td>2</td>
		<td>4</td>
		<td><span class="bullet">2,4</span></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFCC">
		<td><a href="#" style="text-decoration:none"><span><img src="/images/cleardot.gif" class="plus"/></span></a></td>
		<td><span style="font-weight:bold">Internal Medicine</span></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFCC">
		<td><a href="#" style="text-decoration:none"><span><img src="/images/cleardot.gif" class="plus"/></span></a></td>
		<td><span style="font-weight:bold">Surgery</span></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFCC">
		<td><a href="#" style="text-decoration:none"><span><img src="/images/cleardot.gif" class="plus"/></span></a></td>
		<td><span style="font-weight:bold">Ob/Gyn</span></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFCC">
		<td><a href="#" style="text-decoration:none"><span><img src="/images/cleardot.gif" class="plus"/></span></a></td>
		<td><span style="font-weight:bold">Emergency Medicine</span></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFCC">
		<td><a href="#" style="text-decoration:none"><span><img src="/images/cleardot.gif" class="plus"/></span></a></td>
		<td><span style="font-weight:bold">Psychiatry</span></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr style="background-color: #FFFFCC">
		<td><a href="#" style="text-decoration:none"><span><img src="/images/cleardot.gif" class="plus"/></span></a></td>
		<td><span style="font-weight:bold">Family Medicine</span></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

<script>
$(function() {
	$('.bullet').sparkline('html', {type: 'bullet', targetColor: '#369', targetWidth: '3', performanceColor: '#AAA' });
	$('.completed_bullet').sparkline('html', {type: 'bullet', targetColor: 'green', targetWidth: '3', performanceColor: '#AAA' });
});
</script>
<style>
.completed_goal {
	background-color: green;	
}
</style>