<%= javascript_include_tag "jquery.sparkline.min", :cache => true %>

<h1 class="t2" style="margin: 15px;">Dashboard</h1>

<div>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<span class="bt1">Rotation</span>
	<select class="bt2" disabled>
		<option>Pediatrics</option>
	</select>
</span>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<a class="bt1" href="/encounters/new" style="vertical-align:middle;"><%= image_tag("add.png") %> New Encounter</a>
</span>
</div>

<div class="box1" style="margin: 15px;">
	<div class="box1" style="margin: 15px;">
	<table style="margin: 0px 30px 30px 30px;">
	<h1 class="t3" style="margin-left: 30px;">Pediatrics Encounters</h1>
	<thead>
		<tr>
			<th class="t5 bg6">Encounters</th>
			<th class="t5 bg2" colspan="3">Histories Taken</th>
			<th class="t5 bg2" colspan="3">Physical Exams</th>
			<th class="t5 bg2">Progress</th>
		</tr>
		<tr>
			<th class="t4 bg7"></th>
			<th class="t4 bg4">Done</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Diff</th>
			<th class="t4 bg4">Done</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Diff</th>
			<th class="t4 bg4"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="b1 bg8">Inpatient</td>
			<td class="b1 bg5">7</td>
			<td class="b1 bg5">6</td>
			<td class="b1 bg5 pos">(+1)</td>
			<td class="b1 bg5">20</td>
			<td class="b1 bg5">30</td>
			<td class="b1 bg5 pos">(0)</td>
			<td class="bg5"><span class="completed_bullet">6,6</span></td>
		</tr>
		<tr>
			<td class="b1 bg7">Outpatient</td>
			<td class="b1 bg4">20</td>
			<td class="b1 bg4">30</td>
			<td class="b1 bg4 neg">(-10)</td>
			<td class="b1 bg4">20</td>
			<td class="b1 bg4">30</td>
			<td class="b1 bg4 neg">(-10)</td>
			<td class="bg4"><span class="bullet">20,30</span></td>
		</tr>
		<tr>
			<td class="t4 bg8">Total</td>
			<td class="t4 bg5">27</td>
			<td class="t4 bg5">40</td>
			<td class="t4 bg5"></td>
			<td class="t4 bg5">28</td>
			<td class="t4 bg5">40</td>
			<td class="t4 bg5"></td>
			<td class="bg5"><span class="bullet">28,40</span></td>
		</tr>
		</tbody>
	</table>
	</div>
	
	<div class="box1" style="margin: 15px;">
	<table style="margin: 0px 30px 30px 30px;">
	<h1 class="t3" style="margin-left: 30px;">Pediatrics Diagnoses: 12</h1>
	<thead>
		<tr>
			<th class="t5 bg2">Problems</th>
			<th class="t5 bg2">Count</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="b1 bg4">Diabetes</td>
			<td class="b1 bg4">1</td>
		</tr>
		<tr>
			<td class="b1 bg5">Chest Pain</td>
			<td class="b1 bg5">6</td>
		</tr>
		<tr>
			<td class="b1 bg4">Anxiety</td>
			<td class="b1 bg4">1</td>
		</tr>
		<tr>
			<td class="b1 bg5">Chronic Medical Problem</td>
			<td class="b1 bg5">3</td>
		</tr>
		<tr>
			<td class="b1 bg4">Growth Problem</td>
			<td class="b1 bg4">1</td>
		</tr>
		<tr>
			<td class="t4 bg5">Total</td>
			<td class="t4 bg5">12</td>
		</tr>
		</tbody>
	</table>
	</div>
	<div class="box1" style="margin: 15px;">
	<table style="margin: 0px 30px 30px 30px;">
	<h1 class="t3" style="margin-left: 30px;">Pediatrics Procedures - Observed 8, Performed 4</h1>
	<thead>
		<tr>
			<th class="t5 bg2">Procedure</th>
			<th class="t5 bg2">Count</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="b1 bg4">Lumbar Puncture</td>
			<td class="b1 bg4">1</td>
		</tr>
		<tr>
			<td class="b1 bg5">Suturing</td>
			<td class="b1 bg5">6</td>
		</tr>
		<tr>
			<td class="b1 bg4">Warts</td>
			<td class="b1 bg4">1</td>
		</tr>
		<tr>
			<td class="b1 bg5">Circumcision</td>
			<td class="b1 bg5">3</td>
		</tr>
		<tr>
			<td class="b1 bg4">Other</td>
			<td class="b1 bg4">1</td>
		</tr>
		<tr>
			<td class="t4 bg5">Total</td>
			<td class="t4 bg5">12</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>

<script>
$(function() {
	$('.bullet').sparkline('html', {type: 'bullet', targetColor: '#1A5FAE', targetWidth: '3', performanceColor: '#999999' });
	$('.completed_bullet').sparkline('html', {type: 'bullet', targetColor: 'green', targetWidth: '3', performanceColor: '#999999' });
});
</script>
<style>
.completed_goal {
	background-color: green;	
}
</style>