#hd {
	min-height: 30px;
}

h1 {
	font-size: 1.5em;
	padding: 2px 0;
	margin-bottom: 5px;
}

table {
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em 0;
	border-collapse:collapse;
	}
caption {
	font-size:.94em;
		letter-spacing:.1em;
		margin:1em 0 0 0;
		padding:0;
		caption-side:top;
		text-align:center;
	}	
tr.odd td	{
	background:#f7fbff
	}
tr.odd .column1	{
	background:#f4f9fe;
	}	
.column1	{
	background:#f9fcfe;
	}
td {
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:left;
	}				
th {
	font-weight:bold;
	text-align:left;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}							
thead th {
	background:#f4f9fe;
	text-align:center;
	color:#66a3d3
	}	
tfoot th {
	text-align:center;
	background:#f4f9fe;
	}	
tfoot th strong {
	margin:.5em .5em .5em 0;
	color:#66a3d3;
		}		
tfoot th em {
	color:#f03b58;
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
	}

/*
table {
	border-collapse: collapse;
	}

th {
	padding: 0 0.5em;
	text-align: left;
	}

tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}

td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}

td.width {
	width: 190px;
	}

td.adjacent {
	border-left: 1px solid #CCC;
	text-align: center;
	}
*/

/* auto_complete */
div.auto_complete {
  width: 350px;
  background: #fff;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
}

div.auto_complete ul li.selected {
  background-color: #ffb;
}

div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}

ul#userInfo li {
	float: left;
	margin: 5px 5px;
	padding: 3px;
}

.clip { background: url('/images/gmail.png') no-repeat scroll -120px -40px transparent; height: 15px; width: 15px;}
.emptystar { background: url('/images/gmail.png') no-repeat scroll 0px -20px transparent; height: 15px; width: 15px;}
.star { background: url('/images/gmail.png') no-repeat scroll -20px -20px transparent; height: 15px; width: 15px;}
.plus { background: url('/images/gmail.png') no-repeat scroll -160px -80px transparent; height: 15px; width: 15px;}
.minus { background: url('/images/gmail.png') no-repeat scroll -160px -100px transparent; height: 15px; width: 15px;}
.check { background: url('/images/gmail.png') no-repeat scroll -100px -100px transparent; height: 15px; width: 15px;}
.bluedownarrow { background: url('/images/gmail.png') no-repeat scroll -100px -120px transparent; height: 15px; width: 15px;}
.version { background: url('/images/gmail.png') no-repeat scroll -160px -60px transparent; height: 15px; width: 15px;}
.blueversion { background: url('/images/gmail.png') no-repeat scroll 0px -60px transparent; height: 15px; width: 15px;}
.popup {}
.popupMenu {text-align: left; padding: 10px;display:none;position:relative; top: 0; left: 0;}


form.encounter {
	width: 100%;	
}
form.encounter fieldset {
  	margin-bottom: 10px;
  	padding: 4px 12px;
}
form.encounter label {
  	display: inline-block;
  	line-height: 1.8;
  	vertical-align: top;
  	font-weight: bolder;
  	margin-bottom: 2px;
  	margin-right: 24px;
  	color: #203460;
}
form.encounter fieldset p {
	float: left;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-right: 24px;
    min-height: 60px;
}
form.encounter input, form.encounter textarea {
	margin: 0;
	padding: 5px;	
	font-size: 1em;
}
form.encounter textarea {
	line-height: 1.25em;
}
form.encounter fieldset span.item {
	margin: 0;
	padding: 5px;	
}
form.encounter fieldset ul.grid_item {
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
form.encounter fieldset ul.grid_item li{
	list-style-type: disc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

.drop_button {
	margin: 0;
	padding: 0;
}

#rightbar {
	font-size: 122%;
	height: 800px;
/*	border-left: 1px solid #998;*/
	padding: 3px;
}
#rightbar .rightbar_header {
	font-size: 1.2em;
	font-family: Arial;
	padding: 4px;	
	color: #203460;
}
#rightbar .rightbar_section {
	margin-bottom: 20px;
	margin-top: 10px;
}
#rightbar .rightbar_list {
	margin-left: 12px;	
}
#rightbar .rightbar_list li {
	margin: 0;
	padding: 4px;	
	font-size: 1.3em;
	border-bottom: 1px solid #CCCCCC;
}
#rightbar .rightbar_list li a {
	color: #2F4777;
	font-size: 13px;
	text-decoration: none;
}

.activenav {
	background-color: #4263A5;
	margin: 0;
	padding: 0;
}
.activenav a {
	font-family: Arial;
	color: #FFFFFF !important;
	font-size: 12px;
	font-weight: normal;	
}

/*  side navigation */
.uiSideNav {
	margin-top: 25px;	
}
.uiSideNav .selected {
	background:none repeat scroll 0 0 #D8DFEA;
	font-weight:bold;
}
.uiSideNav .item, .uiSideNav .subitem {
	border-bottom:1px solid #FFFFFF;
	color:#333333;
	display:block;
	font-size:16px;
	padding:3px 4px 4px 28px;
	position:relative;
	text-decoration:none;
	font-family:	"lucida grande",tahoma,verdana,arial,sans-serif;
	cursor:pointer;
}
.uiSideNav .subitem {
	margin-left: 12px;
	cursor:pointer;
}
.uiSideNav .item:hover, .uiSideNav .subitem:hover {
	/*background-color: #EFF2F7;*/
	background-color: #CCC;
	color:#333333;
	cursor:pointer;
}
.uiSideNav .item a, .uiSideNav .subitem a {
	text-decoration: none;
	cursor:pointer;
	color: #3B5998;
}
.uiSideNav .subitem {
	padding:3px 4px 4px 37px;
}


.button {
    margin-top: 2em;
    margin-left: 1em;
}

.page_title {
	-moz-border-radius:8px 8px 8px 8px;
	background-color:#336699;
	color:white;
	font-size:16pt;
	font-weight:normal;
	letter-spacing:0;
	line-height:30px;
	margin:0.5em;
	padding-left:20px;
}

.edit_text:hover, .edit_area:hover {
	background-color: #FFCC33;
}

/* form validation */
label.error {
	display: block;
	color: red;
	font-style: italic;
	font-weight: normal;
}

.width100 { width: 100%; }

input.error, select.error, textarea.error {
	border: 2px solid red;
}

div.error {
	font-style: bolder;
	font-size: 20px;
	color: red;
	margin: 12px;
}

div.error a {
	color: #336699;
	font-size: 12px;
	text-decoration: underline
}

div.error img {
	float:left; 
	margin: -5px 10px 0px 0px;
}

.outline {
	background-color: #FFCC33;
	border: 2px solid #FFCC33;	
}

/* Styled classes from Aki at LRC */
.t1 {
	font-family: arial;
	color: #FFCC33;
	font-size: 13px;
	font-weight: bold;
}
a.t1:visited {
	font-family: arial;
	color: #FFCC33;
	font-size: 13px;
	font-weight: bold;
}
a.t1 {
	text-decoration: none;
}
a.t1:hover {
	font-family: arial;
	color: #FFCC33;
	font-size: 13px;
	font-weight: bold;
	background-color: #336699;
}
.t2 {
	font-family: arial;
	color: #2F4777;
	font-size: 18px;
	font-weight: normal;
}
.t3 {
	font-family: arial;
	color: #2F4777;
	font-size: 14px;
	font-weight: normal;
}
.t4 {
	font-family: arial;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}
.t5 {
	font-family: arial;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
}
.t6 {
	font-family: arial;
	color: #2F4777;
	font-size: 20px;
	font-weight: bold;
}
.b1 {
	font-family: Arial;
	color: #000000;
	font-size: 13px;
	font-weight: normal;	
}

.b2 {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: normal;	
}

.bt1 {
	font-family: Arial;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;	
	text-decoration: none;
}
a.bt1:visited {
	color: #FFF;
}

.bt2 {
	font-family: Arial;
	color: #000000;
	font-size: 14px;
	font-weight: normal;	
}
.bt3 {
	background-color: #F6F6F6;
	border: 1px solid #999999;
	margin: 15px; 
	padding: 5px;
}
.bt3:hover {
	background-color: #1A5FAE;
	color: #FFFFFF;
}
.bt3 a {
	font-family: Arial;
	color: #999999;
	font-size: 13px;
	font-weight: bold;	
	text-decoration: none;
}	
.bt3:hover a {
	color: #FFFFFF;
}

.bg1 {
	background-color: #4263A5;
}

.bg2 {
	background-color: #2F4777;
}

.bg3 {
	background-color: #1A5FAE;
}

.bg4 {
	background-color: #E3E3E3;
}

.bg5 {
	background-color: #F0F2F6;
}
.bg6 {
	background-color: #283E68;
}
.bg7 {
	background-color: #DCDBDB;
}
.bg8 {
	background-color: #ECEDEE;
}

.box1 {
	border: 1px solid #CCCCCC;
}

.triangle1 {
	color: #000000;
}

.pos {
	color: #00B003;
}
.neg {
	color: #FF0000;
}

.outline1 {
	border: 1px solid #999999;	
}
.outline2 {
	border: 1px solid #CCCCCC;
}

/***********************      Voting       *******************************/
.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .comment-up-off, .comment-up-on, .comment-flag, .flag-off, .vote-accepted-off, .vote-accepted-on, .vote-accepted-off, .vote-accepted-on {
	font-size:1px;
	text-indent:-9999em;
}

.vote-up-off, .vote-down-off, .vote-accepted-off, .star-off, .comment-up-off, .flag-off {
	cursor:pointer;
}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
	background-position:0 -265px;
	display:block;
	height:25px;
	margin:0 auto;
	width:41px;
}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off, .vote-accepted-off, .vote-accepted-on {
	background-image:url("../images/sprites.png");
	background-repeat:no-repeat;
	overflow:hidden;
}

.vote span {
	color:#808185;
	display: block;
	font-weight:bold;
	float: left;
}

.star-off {
	background-position:0 -150px;
	height:31px;
	width:33px;
}

.star-on {
	background-position:0 -190px;
	height:31px;
	width:33px;
}

.vote-down-off {
	background-position:0 -300px;
}
.vote-up-off {
	background-position: 0 -265px;
}
.vote-down-on {
	background-position:0 -330px;
}
.vote-up-on {
	background-position: 0 -230px;
}

.vote-count-post {
	display:block;
	font-size:150%;
}

a.vote_up {
background:url("../images/thumb_up.png") repeat scroll 0 0 transparent;
}
a.vote_down {
background:url("../images/thumb_down.png") repeat scroll 0 0 transparent;
}
a.vote_up, a.vote_down {
background-position:center center;
display:inline-block;
height:16px;
margin-left:4px;
width:16px;
}


/* ---------------------------- LINK ICONS ------------------------------ */

#resource_grid a[href^="http:"], #resource_grid a[href^="https:"], #resource_grid a[href^="www:"],
.rightbar_list li a[href^="http:"], .rightbar_list a[href^="https:"], .rightbar_list a[href^="www:"]
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_www.png) center left no-repeat;
}

#resource_grid a[href$='.pdf'],
.rightbar_list li a[href$='.pdf'] 
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_acrobat.gif) center left no-repeat;
}

#resource_grid a[href$='.swf'], #resource_grid a[href$='.fla'], #resource_grid a[href$='.swd'],
.rightbar_list li a[href$='.swf'], .rightbar_list li a[href$='.fla'], .rightbar_list li a[href$='.swd'] 
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_flash.gif) center left no-repeat;
}

#resource_grid a[href$='.jpg'], #resource_grid a[href$='.jpeg'], #resource_grid a[href$='.gif'], #resource_grid a[href$='.png'], #resource_grid a[href$='.JPG'], #resource_grid a[href$='.PNG'], #resource_grid a[href$='.GIF'], 
.rightbar_list li a[href$='.jpg'], .rightbar_list li a[href$='.jpeg'], .rightbar_list li a[href$='.gif'], .rightbar_list li a[href$='.png'], .rightbar_list li a[href$='.JPG'], .rightbar_list li a[href$='.PNG'], .rightbar_list li a[href$='.GIF']
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_image.gif) center left no-repeat;
}

#resource_grid a[href$='.xls'], #resource_grid a[href$='.csv'], #resource_grid a[href$='.xlt'], #resource_grid a[href$='.xlw'],
.rightbar_list li a[href$='.xls'], .rightbar_list li a[href$='.csv'], .rightbar_list li a[href$='.xlt'], .rightbar_list li a[href$='.xlw']  
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_excel.gif) center left no-repeat;
}

#resource_grid a[href$='.ppt'], #resource_grid a[href$='.pps'],
.rightbar_list li a[href$='.ppt'], .rightbar_list li a[href$='.pps'] 
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_powerpoint.gif) center left no-repeat;
}

#resource_grid a[href$='.doc'], #resource_grid a[href$='.docx'], #resource_grid a[href$='.rtf'], #resource_grid a[href$='.txt'], #resource_grid a[href$='.wps'],
.rightbar_list li a[href$='.doc'], .rightbar_list li a[href$='.docx'], .rightbar_list li a[href$='.rtf'], .rightbar_list li a[href$='.txt'], .rightbar_list li a[href$='.wps'] 
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_word.gif) center left no-repeat;
}

#resource_grid a[href$='.zip'], #resource_grid a[href$='.gzip'], #resource_grid a[href$='.rar'],
.rightbar_list li a[href$='.zip'], .rightbar_list li a[href$='.gzip'], .rightbar_list li a[href$='.rar'] 
{
    display:inline-block;
    padding-left:20px;
    line-height:18px;
    background:transparent url(../images/doc_zip.gif) center left no-repeat;
}

float_right	{ float::right;}
