<div class="rightbar_header ui-widget-content ui-state-highlight ui-corner-all">
	<span class="ui-icon ui-icon-folder-open" style="float: left; margin-right: 0.3em;"></span>
	<strong>Related Resources</strong>
</div>
<div class="rightbar_section">
	<ul id="rightbar_resources" class="rightbar_list">
		<% if not @rel_resources.nil? %>
		<% for resource in @rel_resources %>
			<%= render "resource", :resource => resource %>
		<% end %>
		<% end %>		
	</ul>
</div>

