<li><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2871548/pdf/GRP2010-526486.pdf">Resource 1</a> 
	<span class="action_menu">
		<a href="/resources/show/1" class="iconlink show_resource_details" title="Resource Title">View Details</a>
		<a href="#" class="iconlink">More</a>
	</span>
</li>
