<div class="yui-gf">

<div class="yui-u first">

	<ul id="resources">
		<li><a href="bp">Behavior Problems</a></li>
		<li><a href="cns">Central Nervous System</a></li>
		<li><a href="#cmp">Chronic Medical Problem</a></li>
		<li><a href="#dp">Dermatologic Problem</a></li>
		<li><a href="#dvp">Developmental Problem</a></li>
		<li><a href="#gi">Gastrointestinal Tract</a></li>
		<li><a href="#urt">Upper Respiratory Tract</a></li>
	</ul>

</div> <!-- end yui-u first -->

<div class="yui-u">

	<table id="resourceList" class="display">
	<thead>
	  <tr>
	    <th></th>
	    <th>Title</th>
	    <th>Rating</th>
	  </tr>
	</thead>
	<tbody>
	<% @resources.each do |resource| cls = cycle("bg4", "bg5") %>
	  <tr class='<%= cls %>' valign="top" align="left">
	    <td><a href="resource/show/<%=h resource.id %>">View</a></td>
	    <td>Title</td>
	    <td><%=h resource.score %></td>
	  </tr>

	<% end %>

	</tbody>

	<tfoot>
		<tr>
			<th><input type="text" name="search_1" value="Search this" class="search_init" style="display:none;" /></th>
			<th><input type="text" name="search_title" value="Search this" class="search_init" /></th>
			<th><input type="text" name="search_score" value="Search this" class="search_init" /></th>
		</tr>
	</tfoot>

	</table>

	<script>
	var oTable;
	var asInitVals = new Array();
			//"sDom": 'T<"clear">lfrtip',
	$(function() {
		TableToolsInit.sSwfPath = "<%= javascript_path 'dataTables/media/swf/ZeroClipboard.swf' %>";
		oTable = $('#resourceList').dataTable( {
			"oLanguage": {
				"sSearch": "Search all columns:"
			},
			"sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"if>rt<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"lp>',
			"bJQueryUI": true,
			"aaSorting": [[3,'desc']],
			"aoColumns": [{ "bSortable": false },null,null],
			"iDisplayLength": 10,
			"sPaginationType" : "full_numbers"
		} );

		$("tfoot input").keyup( function () {
			/* Filter on the column (the index) of this element */
			oTable.fnFilter( this.value, $("tfoot input").index(this) );
		} );

		$("tfoot input").each( function (i) {
			asInitVals[i] = this.value;
		} );

		$("tfoot input").focus( function () {
			if ( this.className == "search_init" )
			{
				this.className = "";
				this.value = "";
			}
		} );

		$("tfoot input").blur( function (i) {
			if ( this.value == "" )
			{
				this.className = "search_init";
				this.value = asInitVals[$("tfoot input").index(this)];
			}
		} );

		$('.popupMenu').hide();

	} );
	</script>	
	
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->