<h1 class="page_title">Resources</h1>

<form class="encounter">
<fieldset>
	<label>Search Resources:</label>
	<input type="text" />
</fieldset>
</form>

<ul id="resources">

	<li>
		<a href="bp">	Behavior Problems</a>
		<ul>
			<li><a href="documents/Christines_Files/">Problem 1</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Nathans_Stuff/">Problem 2</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Travel_Ideas/">Problem 3</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Wedding_Plan/">Problem 4</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="cns">Central Nervous System</a>
		<ul>
			<li><a href="documents/Christines_Files/">Problem 1</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Nathans_Stuff/">Problem 2</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Travel_Ideas/">Problem 3</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Wedding_Plan/">Problem 4</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
	<a href="#cmp">Chronic Medical Problem</a>
	<ul>
			<li><a href="documents/Christines_Files/">Problem 1</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Nathans_Stuff/">Problem 2</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Travel_Ideas/">Problem 3</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Wedding_Plan/">Problem 4</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>	
	<a href="#dp">Dermatologic Problem</a>
	<ul>
			<li><a href="documents/Christines_Files/">Problem 1</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Nathans_Stuff/">Problem 2</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Travel_Ideas/">Problem 3</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Wedding_Plan/">Problem 4</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
	<a href="#dvp">Developmental Problem</a>
	<ul>
			<li><a href="documents/Christines_Files/">Problem 1</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Nathans_Stuff/">Problem 2</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Travel_Ideas/">Problem 3</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Wedding_Plan/">Problem 4</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
	<a href="#gi">Gastrointestinal Tract</a>
	<ul>
			<li><a href="documents/Christines_Files/">GERD</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Nathans_Stuff/">PUP</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Travel_Ideas/">Colon Cancer</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Wedding_Plan/">Problem 4</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
	<a href="#urt">Upper Respiratory Tract</a>
	<ul>
			<li><a href="documents/Christines_Files/">Problem 1</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Nathans_Stuff/">Problem 2</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Travel_Ideas/">Problem 3</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
			<li><a href="documents/Wedding_Plan/">Problem 4</a>
				<ul>
					<li><a href="#">GERD Treatment Guidelines</a></li>
					<li><a href="#">Student Uploaded PDF <span class="stars">4.8618164</span></a>
					</li>
					<li><a href="#">Student Saved Link <span class="stars">2.2</span></a> 
					</li>
				</ul>
			</li>
		</ul>	
	</li>
</ul>

<style>
span.stars, span.stars span {
    display: block;
    background: url(/images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
</style>

<script>
$.fn.stars = function() {
    $(this).each(function() {
        var val = parseFloat($(this).html());
        val = val > 5 ? 5 : (val < 0 ? 0 : val);
        val = Math.round(val * 2) / 2; /* To round to nearest half  (remove if you want full rounding) */
        var size = 16 * val;
   	    var stars = $('<span class="stars"><span></span></span>');
   	    stars.find('span').width(size);
   	    $(this).replaceWith(stars);
   	});
}
$(function() {

	$('#resources').tree();
	
	$('span.stars').stars();
});
</script>