<div class="yui-gc">

<div class="yui-u first">

<h1>New feedback form</h1>

<% form_for(@feedback, :html => { :class  => "encounter"})  do |f| %>
  <%= f.error_messages %>

<fieldset class="outline2 bg5">
<div style="clear:both"></div>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
</fieldset>

<fieldset class="outline2 bg5" style="background-color: #FFF; border: 0; float: right;">
  	<span class="ui-corner-all bt3">
    	<a class="submit_encounter" href="#">Save</a>
  	</span>
  	<span class="ui-corner-all bt3">
		<%= link_to "Cancel and Return", root_path %>
  	</span>
</fieldset>

<% end %>
</div> <!-- end yui-u first -->

<div class="yui-u">
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->

<script type="text/javascript" charset="utf-8">
	$(function() {
		$('.submit_encounter').click(function() {
			$('#new_feedback').submit();
		});
		
	});
</script>