<ul class="reports_toolbar">
	<li>Available reports:</li>
	<li><%= link_to "Encounters by Care Setting", {:controller => "reports", :action => "encounters_by_care_settings"}, :class => "t4" %></li>
	<li><%= link_to "Diagnosis Categories per Student", {:controller => "reports", :action => "dx_by_students"}, :class => "t4" %></li>
	<li><%= link_to "H & P Observed vs Performed Per Student", {:controller => "reports", :action => "hnp_observed_vs_performed"}, :class => "t4" %></li>
	<li><%= link_to "Diagnoses per Student", {:controller => "reports", :action => "student_individual_dx"}, :class => "t4" %></li>
</ul>