<div class="box1" style="margin: 15px;">
<table style="margin: 0px 30px 30px 30px;">
<h1 class="t3" style="margin-left: 30px;">	Individual Diagnoses Per Student.
</h1>
<thead>
	<tr>
		<th class="t5 bg2">Student</th>

	    <% for category in @categories do %>
		<th class="t5 bg2"><% category["id"] %></th>
		<% end %>
	</tr>
</thead>
<tbody>
	<tr>

	</tr>
	</tbody>
</table>
</div>
