<%= render "toolbar" %>

<div class="box1" style="margin: 15px;">
<h2>	
	Select a student: <%= select_tag "students", options_from_collection_for_select(@students, "id", "fullname") %>
	<a href="#" id="get_report_btn">Get Report</a>
</h2>
<p></p>
	
</div>

<div id="result" class="box1" style="margin: 15px;">
<h2>Select Student name from menu above </h2>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#get_report_btn").click(function(e,o) {
			var student_id = $("#students").val();
			<%url = url_for :controller => "reports", :action => 'render_student_individual_dx' %>
			$.get('<%= url %>', {student_id: student_id}, function(data,status) {
				$("#result").empty().append(data);
			});
		});
	});
</script>
