<%= render "toolbar" %>

<div style="margin-top: 25px;">
Pick students: <%= select_tag "students", options_from_collection_for_select(@students, "id", "fullname") %>
<a href="#" id="get_report_btn">Get Report</a>

<div id="result">

</div>

</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$("#get_report_btn").click(function(e,o) {
			var student_id = $("#students").val();
			<%url = url_for :controller => "reports", :action => 'student_individual_dx' %>
			$.get('<%= url %>', {student_id: student_id}, function(data,status) {
				$("#result").empty().append(data);
			});
		});
	});
</script>