<div style="margin: 15px;">
<table id="encList" style="margin: 0px 30px 30px 30px;">
<thead>
	<tr>
		<th class="t4 bg4">Individual Diagnoses Selected by Student</th>
	</tr>
</thead>
<tbody>
    <% for item in @items do 
	 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
	 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
	%>
	<tr>
		<td class="b1 <%= cls_col_1 %>"> <%= item["dxname"] %> </td>
	</tr>
	<% end %>

	</tbody>
</table>
</div>